:root {
    --header-height: 170px;
    --primary: #4f46e5;
    --bg: #f5f7fb;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
    background: var(--bg);
    overflow-x: hidden;
}